<footer id="footer">
		<div class="footer-top">
		  <div class="container">
			<div class="row">
	
			  <div class="col-lg-3 col-md-6 footer-info">
				<h3>Bigil</h3>
				<p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus. Scelerisque felis imperdiet proin fermentum leo. Amet volutpat consequat mauris nunc congue.</p>
			  </div>
	
			  <div class="col-lg-3 col-md-6 footer-links">
				<h4>Useful Links</h4>
				<ul>
				  <li><i class="ion-ios-arrow-right"></i> <a href="#home">Home</a></li>
				  <li><i class="ion-ios-arrow-right"></i> <a href="#about">About us</a></li>
				  <li><i class="ion-ios-arrow-right"></i> <a href="#students">Students</a></li>
				  <li><i class="ion-ios-arrow-right"></i> <a href="#">Privacy policy</a></li>
				</ul>
			  </div>
	
			  <div class="col-lg-3 col-md-6 footer-contact">
				<h4>Contact Us</h4>
				<p>
				  Hargeisa, jigjigayar 535022<br>
				  Somaliland <br>
				  <strong>Phone:</strong> +252 63 4151620<br>
				  <strong>Email:</strong> info@example.com<br>
				</p>
	
				<div class="social-links">
				  <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
				  <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
				  <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
				  <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
				  <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
				</div>
	
			  </div>
	
			  <div class="col-lg-3 col-md-6 footer-newsletter">
				<h4>Our Newsletter</h4>
				<p>Subscribe</p>
				<form action="" method="post">
				  <input type="email" name="email"><input type="submit"  value="Subscribe">
				</form>
			  </div>
	
			</div>
		  </div>
		</div>
	
		<div class="container">
		  <div class="copyright">
			&copy; Copyright <strong>Bigil Developers</strong>. All Rights Reserved
		  </div>
		  <div class="credits">
			Designed by <a href="#">Yestinho</a>
		  </div>
		</div>
	  </footer><!-- #footer -->
	
	   <button onclick="topFunction()" id="myBtn" title="Go to top" style="position:fixed"><i class="fa fa-chevron-up"></i></button> 
	
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="js/jquery.js"> </script>
		<script src="js/poper.mini.js" ></script>
		<script src="js/bootstrap.min.js" ></script>
	   <!--   <script src="lib/wow/wow.min.js"></script> -->
		 
	<script>
	window.onscroll = function() {scrollFunction()};
	
	function scrollFunction() {
		if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
			document.getElementById("myBtn").style.display = "block";
		} else {
			document.getElementById("myBtn").style.display = "none";
		}
	}
	
	// When the user clicks on the button, scroll to the top of the document
	function topFunction() {
		document.body.scrollTop = 0; // For Safari
		document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
	} 
	</script>
	</body>
</html>	
