<!DOCTYPE html>
<html lang="en">
	<head>
		
		
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
		
	</head>
	<body>




		
			<head>
					<div class="container">
						
						
						<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
			  
			   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				 <span class="navbar-toggler-icon"></span>
			   </button>
			   <div class="collapse navbar-collapse" id="navbarNav">
				 <ul class="navbar-nav ml-auto">
				   <li class="nav-item active">
					 <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
				   </li>
				   <li class="nav-item">
					 <a class="nav-link" href="#users"">Students</a>
				   </li>
				   <li class="nav-item">
					 <a class="nav-link" href="#registration">Registration</a>
				   </li>
				   <li class="nav-item">
					 <a class="nav-link" href="#courses">Courses</a>
				   </li>
				   <li class="nav-item">
					 <a class="nav-link" href="#team">Developers</a>
				   </li>
				   <li class="nav-item">
					 <a class="nav-link" href="#contact">Contact Us</a>
				   </li>
				  
				 </ul>
			   </div>
			 </nav>
					</div>
				</head>
				
		
		